<html>
    <head>
        <title> Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href = "http://djangogirls.org">Django Girls Blog</a></h1>

        </div>

        <div>
          <p> Publicado: 22.05.2016, 11:20</p>
          <h2><a href="">My first post</a></h2>
          <p> Post teste</p>
        </div>

        <div>
            <p> Publicado: 22.05.2016, 11:27</p>
            <h2><a href="">My second post</a></h2>
            <p>Post teste 2</p>
        </div>
    </body>
</html>
